:root{
  --width-column-text-description: 50vw;
}

div.see-color{
    width: 30px;
    height: 30px;
    margin: auto;
}

table td.column-text-description{
  max-width: var(--width-column-text-description);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  

}

table.web-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table.web-table td, table.web-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table.web-table tr:nth-child(even){background-color: #f2f2f2;}
  
  table.web-table tr:hover {background-color: #ddd;}
  
  table.web-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.not-results{
    width: 100%;
    text-align: center;
    color: rgb(201, 11, 11);
    margin-top: 15px;
}

.button-actions-3{
    width: calc(85px*3);
}

.button-actions-2{
    width: calc(90px*2);
}

.button-actions{
    width: 70px;
}

form.form-search{

  display: flex;
  flex-direction: row;

}

form.form-search #typeSearh{
  width: max-content;
}

form.form-search button{
  margin-left: 20px;
}